<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        /* to hide the element until needed */
        [v-cloak]{
            display: none;
        }
    </style>
    <title>NASA's API</title>
</head>
<body>
    <div id="app">
       <div class="container">
            <img :src="imgSrc" :title="imgTitle" width="500 px" height="500 px">
            <div class="card mt-5">
                <h2 class="card-header">Near Earth Objects:</h2>
                <div class="m-3" v-cloak v-if="numAsteroids > 0">
                    <p>showing {{ numAsteroids }} items</p>
                    <p>{{ closestObject }} has the shortest miss distance</p>
                </div>
                <table class="table">
                    <thead class="thead-light">
                        <th>#</th>
                        <th>Name</th>
                        <th>Close Approach Date</th>
                        <th>Miss Distance</th>
                        <th>Remove</th>
                    </thead>
                    <tbody v-cloak>
                        <tr v-for="(a, index) in asteroids" :key="a.neo_reference_id">
                            <td>{{ index + 1 }}</td>
                            <td>{{ a.name }}</td>
                            <td>{{ getCloseApproachDate(a) }}</td>
                            <td>
                                <ul v-if="a.close_approach_data.length > 0">
                                    <li v-for="(value, key, index) in a.close_approach_data[0].miss_distance">
                                        {{key}}: {{value}}
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <button @click="remove(index)" class="btn btn-warning">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
       </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/home/amira-pc/courses/vueJS/nasa_api.js"></script>

</body>
</html>